.teams {
    height: 100vh;
    width: 100%;
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    &__item {
        color: #fff;
        font-family: "Spirit", sans-serif;
        padding: 15px 15px 10px 15px;
        font-size: 60px;
        line-height: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: auto;
        text-transform: uppercase;
        &:hover {
            color: #000;
            background-color: #fff;
            cursor: pointer;
            text-decoration: none;
        }
    }
}