@font-face {
    font-family: 'TS';
    src: url('./TTNorms-Regular.9a14e0e8.woff');
    font-style: normal; 
    font-weight: normal; 
}

@font-face {
    font-family: 'TS';
    src: url('./TTNorms-Bold.2be310ea.woff');
    font-style: normal; 
    font-weight: bold; 
}

@font-face {
    font-family: 'TS';
    src: url('./TTNorms-Medium.201c72b6.woff');
    font-style: normal; 
    font-weight: medium; 
}

@font-face {
    font-family: 'Spirit';
    src: url('./spirit.2dbf0d14.woff');
    font-weight: normal;
    font-style: normal;
}