.about {
    background-color: #000;
    display: flex;
    align-items: center;
    height: 100%;
    flex-direction: column;
    @media (max-width: 767px) {
        padding: 0 20px;
    }
    &__header {
        background-image: url('../../../assets/about-bg.54b53ff3.jpg');
        width: 100%;
        background-size: cover;
        background-position: center;
        height: 280px;
    }
    &__main {
        max-width: 720px;
        color: #fff;
        padding-bottom: 80px;
        p {
            margin-bottom: 25px;
            font-weight: normal;
            font-size: 15px;
            line-height: 28px;
            &:nth-child(5) {
                margin-bottom: 0;
            }
        }
    }
    &__title {
        font-family: 'Spirit', sans-serif;
        font-size: 50px;
        margin-top: 60px;
        text-transform: uppercase;
    }
}